/*
	Installed from https://reactbits.dev/default/
*/

.text-block {
  max-width: 840px;
  font-family: monospace;
  font-size: clamp(14px, 4vw, 32px);
  color: #fff;
  margin-left: 20px;
}

.char {
  will-change: transform;
  display: inline-block;
}
